body {
    background-color: rgb(156, 207, 255);
}

#heading-hero {
    /*position: relative;
    top: 10px;
    left: 10px;*/
    display: flex-start;
    justify-content: space-between;
    background: black;
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
}

#inside {
    position: relative;
    top: 10px;
    left: 10px;
    background: white;
    color: rgb(255, 112, 186);
    font-size: 24px;
    padding: 20px;
}

#box {
    /*position: absolute;
    top: 20px;
    right: 10px;*/
    justify-content: flex-end;
    background: blue;
    color: white;
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    background: gold;
    color: black;
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
}

#textbox {
    position: relative;
    background: orange;
    color: black(255, 112, 186);
    padding: 20px;
    border-radius: 20px;
}